<!DOCTYPE html>
<html>
    <head>
    <title>SOAapp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
     integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css"/>
    </head>
 <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	{{#if user}}
      <a class="navbar-brand" href="#">Dashboard</a>
      <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
	{{/if}}

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
	 {{#if user}}
          <li class="nav-item">
            <a class="nav-link" href="/users/logout">Logout</a>
          </li>
	 {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/users/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/register">Register</a>
          </li>
	 {{/if}}
        </ul>
        <span class="glyphicon glyphicon-equalizer" style="color:blue"></span>
    </nav>

   {{#if user}}
    <div class="container-fluid" id="sidebar">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">Tables<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Graphs</a>
            </li>
          </ul>
        </nav>
        {{/if}}

	<div class="row" id="main-content">
         <div class="col-lg-12">
          {{#if success_msg}}
          <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
          <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
          <div class="alert alert-danger">{{error}}</div>
          {{/if}}

	       {{{body}}}
      </div>
    </div>
     <footer class="footer">
        <div class="container">
        <span class="text-muted">&copy;Census 2017</span>
      </div>
    </footer>
  </body>
</html>